
  body {
    background-color: rgb(206, 208, 193);
    text-align: center;
}

h1 {
    text-align: center;
    color: rgb(249, 9, 9);
}

img {
    max-width: 100%;
    height: auto;
}

.inactive {
    color: gray;
}

h2 {
    color: rgb(249, 9, 9);
}

main {
    margin-right: 20px;
    margin-left: 20px;
    padding: 20px;
    background-color: whitesmoke
}

.border {
    border: 1px solid gray;
}

nav {
    background-color: rgb(237, 216, 100);
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 25px;
}

nav a {
    color: rgb(68, 88, 173);
    font-size: 1.5em;
}

nav a:hover {
    color: rgb(249, 9, 9);
    text-decoration: none;
}

form {
    display: inline;
}


a {
    color: rgb(249, 9, 9);
}


